header, footer, h2, a { 
	-webkit-border-radius : 10px;
	-moz-border-radius : 10px;
	border-radius: 10px;
}

body { 
	font-size: 125%; 
	margin-left: 5%;
	margin-right: 5%;
}

header, footer { 
	background: #54F4FF;
	background: -moz-linear-gradient(top, #54F4FF 0%, #52FEFF 50%, #4AC6FF 100%);
	background: -webkit-linear-gradient(top, #54F4FF 0%, #52FEFF 50%, #4AC6FF 100%);
	background: linear-gradient(to bottom, #54F4FF 0%, #52FEFF 50%, #4AC6FF 100%);
	text-align: center;
}

h1 { 
	color: #4209B5; 
	text-shadow: 2px 2px 2px rgba(0,0,0,0.83);
	font-family: Arial, Impact, Courier;  
}

nav a { 
	font-size: 150%; 
	display: inline-block;
	width: 22%;
	background-color: #FFFFFF;
	text-align: center;
	padding: 1px 5px;
	margin-right: 5px;
	margin-bottom: 10px; 
	text-decoration: none;
	transition: 2s ease; 
}

nav a:hover { 
	transform: rotateZ(180deg);
}


h2 { 
	color: red;
	font-family: Impact; 
	background-color: aqua;
	text-align: center;
	transition: ease; 
}

.next { 
	width: 32%;
	display: inline-block;
	float: left;
	margin-right: 14px;
}

.whole { 
	clear: both;
}

ul { 
	font-family: Courier; 
	font-size: 125%;
	list-style-type: circle;
}

section#khanh a { 
	display: inline-block;
	width: 33%; 
	text-align: center;
	transition: 2s linear;
}

section#khanh a:hover { 
	font-size: 120%; 
	color: black; 
	background-color: blue;
}

p { 
	font-family: Times; 
}

img { 
	width: 4%; 
}