body { 
	margin : 2% 4% 2% 4%; 
}

header { 
	background-image: url("../images/flywheel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header > h1 { 
	font-size: 150%; 
	color: white; 
	text-transform: uppercase;
	padding-top: 45px; 
}

header > nav { 
	text-align: center;
	display: block; 
}

header > nav > a { 
	display: inline-block;
	width: 15%;
	text-align: center; 
	font-size: 125%; 
	margin: 0px 30px 45px; 
	background-color: rgba(255,255,255,0.3); 
	color:black;
	padding-bottom: 20px; 
	padding-top: 20px;  
	text-decoration: none;
	-webkit-border-radius : 10px;
	border-radius: 10px; 
}

.active { 
	background-color: white; 
}

.left {  
	display: inline-block;
	width: 15%; 
	background-color: #5F6B43;
	float: left;   
	margin-right: 10px; 
	height: 100vh;  
}

.right { 
	display: inline-block; 
	width: 75%; 
}

img {   
	display: block;
	border: groove;
	width: 70%; 
	border-color: black;   
	margin: 50px auto; 
}


h1 { 
	text-transform: uppercase;
	text-align: center;
	color: white;
}

h2 { 
	text-transform: uppercase;
	color: black;
}

/*Styling table continue StyleSheet*/

/*First position table in the middle*/ 
.right table {  
	box-sizing: border-box;
	width: 70%; 
	margin: 0px 20%; 
	line-height: 130%;  
}

.right table tr:first-child th:first-child { 
	text-align: left; 
}

.right table tr:first-child th { 
	background-color: rgba(45,99,46,0.78);
	color : white;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	border: 0.5px solid white; 
	border-bottom-color: #99CC00;
	border-bottom-width: 3px; 
	padding: 1.5%;  
}

.right table tr td:nth-child(2) { 
	text-align: center; 
}

.right table tr td:nth-child(3) { 
	text-align: center; 
}

.right table tr td { 
	background-color: rgba(130,255,138,0.5);
	padding: 1%;
	border: 0.5px solid white;
	text-shadow: 3px 2px 10px rgba(59,77,75,0.9);
	transition: 1s; 
}

.right table tr td:hover { 
	opacity: 0.5; 
}

tr:hover td {
    opacity: 1;
    color: #339933;
    font-weight: bold;
    font-size:100%;
    line-height: 60px;
}

/*Overriding StyleSheet*/
